@import "@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ng-Select Tailwind Overrides */
.custom-ng-select .ng-select-container {
  @apply border border-neutral rounded-md px-3 bg-white text-dark min-h-[3.2rem] flex items-center;
}
.custom-ng-select .ng-value-container {
  @apply flex items-center w-full h-full;
}
.custom-ng-select .ng-input {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  @apply flex items-center w-full;
}
.custom-ng-select .ng-has-value .ng-input {
  position: relative !important;
  top: auto !important;
  transform: none !important;
  @apply flex-1;
}
.custom-ng-select .ng-input > input {
  @apply m-0 p-0;
}
.custom-ng-select.ng-select-focused .ng-select-container {
  @apply outline-none border-primary ring-1 ring-primary transition-colors;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ffffff; }

/* Ocultar las flechas (spinners) de los inputs numéricos */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
}
